.basketBtn {
    width: 9.3rem;
    height: 3.2rem;
    margin: 0 0 0 3.7rem;
    display: flex;
    background: #F3F3F7;
    border-radius: 0.8rem;
    @media (max-width: 768px) {
        width: 10.3rem;
        height: 4.2rem;
        margin: 0 0 0 2.7rem;
    }
}