.nameBasket {
    width: 45.3rem;
    h4 {
        padding: 0 0 0.9rem 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 1.9rem;
        line-height: 1.7rem;
        color: #0E0C0D;

    }
    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.9rem;
        color: #686466;
    }
    @media (max-width: 768px) {
        width: 35.3rem;
    }
}