.promoSum {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.7rem;
    color: #0E0C0D;
    span {
        padding: 0 0 0 .9rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 3.6rem;
        line-height: 4.4rem;
        text-align: right;
        color: #FF2E65;
    }
}