.sliderBasket__logo {
    padding: 0 0 3.2rem 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.7rem;
    color: #FF2E65;
}

.slider-basket__item {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    background: #FFFFFF;
    border: .15rem solid #E2E2E9;
    border-radius: 1.2rem;
}

.txtSlider {
    width: 14.4rem;
    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 1.4rem;
        color: #000000; 
    }
    p:nth-child(2) {
        width: 13rem;
        padding: 0 0 .8rem 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: #FF2E65;
    }
}

.slider-basket-wrapper {
    .swiper-slide {
        width: 25.5rem;
        height: 9.9rem;
    }
}

.imgSlider {
    width: 7.1rem;
    height: 7.1rem;
    margin: 0 0 0 1.4rem;
}

.slider-basket-next {
    position: absolute;
    left: 114rem;
    top: 58rem;
    width: 3.1rem;
    height: 3.1rem;
    z-index: 100;
}


.slider-basket-prev {
    position: absolute;
    top: 58rem;
    right: 114rem;
    width: 3.1rem;
    height: 3.1rem;
    z-index: 100;
}

.sliderBasket {

    padding: 0 0 4rem 0;
}