.modalDeliviryTime {
    display: flex;
    flex-direction: column;
    width: 66.8rem;
    height: 45.4rem;
    padding: 4.5rem 4.7rem 3.22rem 4.5rem;
    position: absolute;
    top: 5rem;
    transform: translate(55%, 0);
    background: #E3ECF5;
    box-shadow: 0 .4rem 2.8rem rgba(0, 0, 0, 0.08);
    border-radius: 1.2rem;
}