.check__blockName {
    h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.8rem;
        color: rgba(35, 31, 32, 0.8);
    }
    p {
        width: 21.3rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 2.8rem;
        color: rgba(35, 31, 32, 0.8);
        opacity: 0.6;
    }
}