.registerBtn__btn {
    // width: 22.4rem;
    padding: 1.4rem 5.9rem 1.3rem 5.9rem;
    white-space:nowrap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2.8rem;
    color: #FFFFFF;
    background: #FF2E65;
    border-radius: .8rem;
}