.registerBtn__txt {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.9rem;
    color: #9D9D9B;
    span {
        text-decoration: underline #9D9D9B;
    }
}