.footer {
    margin-bottom: 8rem;
    padding-top: 5.7rem;
    .container {
        display: flex;
        flex-direction: row;
        gap: 20rem;
        @media (max-width: 768px) {
            gap: 2rem;
        }
    }
    @media (max-width: 768px) {
        margin: 0;
    }
}