.users {
    display: flex;
    padding: 0 0 5.5rem 0;
    gap: 4.5rem;
    @media (max-width: 768px) {
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 3rem 10rem;
    }
}