.header {
    padding-top: 0.8rem;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 2.8rem;
    @media (max-width: 768px) {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #FFFFFF;
        border-bottom: .2rem solid rgb(186, 186, 186) ;
    }
}